.App {
  text-align: center;
}

.exam_div{
  margin-top: 50px;
  max-width: 500px;
  margin: 0 auto;
}

.exam_div h3{
  background-color: blue;
  color: brown;
  font-size: 30px;
}

.exam_div form{
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}